.appointment-card {
    padding-top: 10px;
    padding-bottom: 10px;
}

.appointment-card-item {
    background-color: #f2f2f2;
    border-color: #eaeaea;
}

.at-card__header {
    border-color: #eaeaea;
}

.at-tabs__underline {
    opacity: 0;
}