.appointment-card {
    padding-top: 10px;
    padding-bottom: 10px;

    .at-card__content {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.appointment-card-item {
    background-color: #f2f2f2;
    border-color: #eaeaea;
}

.at-card__header {
    border-color: #eaeaea;
}

.at-tabs__underline {
    opacity: 0;
}

.infoListing {
    margin-bottom: 5px;
}
.edit-button {
    margin-left: 20px;
}