.user-page {
  background-color: #eeeeee;
  color: #fff;
  height: 100vh;

  .profile-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .at-list {
    //background-color: #e2e2e2;
    //background-color: aqua;
    //border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .at-list__item {
    color: #181818;
    border-radius: 20px;
    background-color: #e0e0e0;
    margin-top: 10px;
    margin-bottom: 10px;
    //border-bottom: 1px solid #444;
  }

  .at-list__item:last-child {
    border-bottom: none;
  }

  .at-list__item-title {
    font-size: 16px;
  }
}