.index {
    background-color: #ddd;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.form-container {
    background-color: white;
    border-radius: 20px;
    //width: 95%;
}

.at-input--disabled {
    opacity: 1;
}

.force-enable {
    opacity: 1;
}

.text-input {
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    //background-color: #ccc;
}

.submit-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
}