.sales-card {
    .extra-content {
        display: inline-block;
    }
    .info {
        text-align: right;
    }
    .even {
        background-color: #eeeeee;
    }

    .odd {
        background-color: #dddddd;
    }
}