.index {
    display       : flex;
    flex-direction: column;
    height: 100vh;
}

.applicant-name {
    text-align: center;
}

.modal-button-group {
    bottom: 20px;
}

.title,
.desc {
  text-align: center;
  font-size : 32px;
}

.logo {
    padding-top: 100px;
    padding-bottom: 30px;
    display: block;
    width  : 270px;
    height : 270px;
    margin : 0 auto;
}

.no-records {
    padding: 100px 50px;
    background-color: white;
    text-align: center;
}